<ul class="list-group" *ngIf="!isEditing">
  <li class="list-group-item">name: {{ contact.name }}</li>
  <li class="list-group-item" *ngIf="contact.surname">
    surname: {{ contact.surname }}
  </li>
  <li class="list-group-item">phone number: {{ contact.phoneNumber }}</li>
  <li class="list-group-item" *ngIf="contact.birthDate">
    birth date: {{ contact.birthDate }}
  </li>
  <li class="list-group-item" *ngIf="contact.email">
    email: {{ contact.email }}
  </li>
  <li class="list-group-item" *ngIf="contact.address">
    address: {{ contact.address }}
  </li>
</ul>

<app-form
  [contact]="editingModel"
  *ngIf="isEditing"
  [type]="'edit'"
  (submit)="handleEdit(contact)"
></app-form>

<div class="btn-group custom-group">
  <button
    type="button"
    (click)="toggleEditing()"
    class="btn btn-primary btn-sm"
  >
    {{ isEditing ? "close" : "edit" }}
  </button>

  <a routerLink="/" class="btn btn-primary btn-sm">back</a>
</div>
