<div class="deatails" *ngIf="!isEditing">
  <p>name: {{ contact.name }}</p>
  <p *ngIf="contact.surname">surname: {{ contact.surname }}</p>
  <p>phone number: {{ contact.phoneNumber }}</p>
  <p *ngIf="contact.birthDate">birth date: {{ contact.birthDate }}</p>
  <p *ngIf="contact.email">email: {{ contact.email }}</p>
  <p *ngIf="contact.address">address: {{ contact.address }}</p>
</div>

<app-form
  [contact]="editingModel"
  *ngIf="isEditing"
  [type]="'edit'"
  (submit)="handleEdit(contact)"
></app-form>

<button type="button" (click)="toggleEditing()">
  {{ isEditing ? "close" : "edit" }}
</button>

<a routerLink="/">back</a>
