<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="wrapper">
    <label for="name">name</label>
    <input type="text" name="name" id="name" [(ngModel)]="name" />
  </div>

  <div class="wrapper">
    <label for="surname">surname</label>
    <input type="text" name="surname" id="surname" [(ngModel)]="surname" />
  </div>

  <div class="wrapper">
    <label for="phoneNumber">phone number</label>
    <input
      type="tel"
      name="phoneNumber"
      id="phoneNumber"
      [(ngModel)]="phoneNumber"
    />
  </div>

  <div class="wrapper">
    <label for="birthDate">birth date</label>
    <input
      type="date"
      name="birthDate"
      id="birthDate"
      [(ngModel)]="birthDate"
    />
  </div>

  <div class="wrapper">
    <label for="email">email</label>
    <input type="email" name="email" id="email" [(ngModel)]="email" />
  </div>

  <div class="wrapper">
    <label for="address">address</label>
    <input type="text" name="address" id="address" [(ngModel)]="address" />
  </div>

  <button type="submit">add</button>
</form>
